<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :is_reproducible %><br>
    <%= f.check_box :is_reproducible, checked: true, class: 'reproducible' %>
  </div>
  <div class="field">
  <%= f.label :category %><br>
  <!-- We subtitute entering the array manually by using the new method -->
  <%= f.select :category, Issue.categories, include_blank: true %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
